.experience {
  display: flex;
  animation: fadeIn 1s forwards;
  &__timeline {
    display: flex;
    flex: 1;
    color: #bfbfbf;
    padding-top: 6px;
    border-left: 2px solid $primary-color;
    justify-content: center;
    padding-bottom: 60px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: -9px;
      top: 6px;
      height: 10px;
      width: 10px;
      border-radius: 100px;
      background-color: white;
      border: 3px solid $primary-color;
    }
  }
  &__function {
    display: flex;
    flex: 6;
    flex-direction: column;
    padding-bottom: 60px;
    & .title {
      font-size: 24px;
      font-weight: bold;
      color: $primary-color;
      margin-bottom: 10px;
    }
    & .company {
      color: #bfbfbf;
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 10px;
    }
    & .description {
      line-height: 1.5;
    }
  }
}
