.layout {
  display: flex;
  height: 100vh;
  &__menu {
    display: flex;
    flex: 1;
  }
  &__content {
    display: flex;
    flex: 3;
    width: 100%;
    overflow: auto;
    flex-direction: column;
  }
}
