.textarea {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #eee;
  border: none;
  outline: none;
  border-radius: $border-radius;
  padding: 15px;
  font-size: 1rem;
  margin-top: 25px;
  resize: none;
  height: 200px;
  margin-bottom: 15px;
}
