.contact-card {
  display: flex;
  width: 400px;
  cursor: pointer;
  margin-top: 25px;
  //   border-top: 3px solid $primary-color;
  height: 75px;
  animation: fadeIn 1s forwards;
  justify-content: center;
  align-items: center;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  transition: $transition;
  &__icon {
    display: flex;
    flex: 1;
    justify-content: center;
    & .fa-phone,
    .fa-home {
      color: $primary-color;
      font-size: 1.5rem;
    }
  }
  &__text {
    background-color: #f7f7f7;
    border-bottom-right-radius: $border-radius;
    align-items: center;
    border-top-right-radius: $border-radius;
    height: 100%;
    display: flex;
    flex: 3;
    justify-content: center;
    flex-direction: column;
    & .type {
      color: #adadad;
      margin-bottom: 5px;
    }
  }
}
