.input-field {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  & input {
    width: 300px;
    background-color: #eee;
    border: none;
    outline: none;
    border-radius: $border-radius;
    padding: 15px;
    font-size: 1rem;
  }
  &__error {
    color: $error-color;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 5px;
    transition: $transition;
    opacity: 0;
    &.actived {
      opacity: 1;
    }
  }
}
