.project {
  display: flex;
  animation: fadeIn 1s forwards;
  flex-direction: column;
  &__heading {
    background-color: #f7f7f7;
    border-bottom: 2px solid #eee;
    padding: 50px;
    display: flex;
    flex-direction: column;
  }
  &__content {
    padding: 50px;
    line-height: 2;
  }
}
