//Color variables
$primary-color: #61dafb; //#77bfa3;
$error-color: #ea4848;

//Gray color variables

//Other variables
$border-radius: 10px;
$box-shadow: 0 0 10px #adadad;
$transition: 500ms ease;

//Typography variables
$main-font: "Lato", "Arial", "sans-serif";
